server:
  port: 8081
  error:
    include-message: always

spring:
  datasource:
    username: postgres
    password: 123321
    url: jdbc:postgresql://localhost/toosafinder
    driver-class-name: org.postgresql.Driver
    hikari:
      connectionTimeout: 30000
      idleTimeout: 600000
      maxLifetime: 1800000
  jpa:
    hibernate:
      ddl-auto: none
  mail:
    host:
      smtp.gmail.com
    port:
      587
    username:
      toosafinder.beta@gmail.com
    password:
      p4$$w0rd
    properties:
      mail:
        smtp:
          auth:
            true
          starttls:
            enable:
              true

  flyway:
    validate-migration-naming: true

email-tokens:
  expiration-time: 14d

email:
  #TODO ждем нормальные ссылки
  email-confirmation-url: http://example.org
  password-restore-url: http://example.org
  templates:
    email-confirmation-template-file-path:
      /static/templates/emailConfirmationMessage
    password-restore-template-file-path:
      /static/templates/passwordRestoreMessage